* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

html, body {
	height: 100vh;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.95em;
	overflow: hidden;
}

button {
	outline: none;
}

form {
	width: 240px;
	height: 300px;
	text-align: center;
}

.landingView, .changeGroupView {
	position: absolute;
	top: 0px;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.landingLeft, .changeGroupLeft {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 50%;
	max-width: 50%;
	height: 100%;
	padding: 0px;
	overflow: auto;
	overflow-x: hidden;
	background-color: #fff;
	border-right: 1px solid #fff;
}

.landingRight {
	position: fixed;
	background-color: #FFFFCC;
	background-image: url(/img/outlets2.png);
	right: 0px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	width: 50%;
	height: 100%;
	float: right;
	border-left: 1px solid #fff;
}

.changeGroupRight {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 50%;
	max-width: 50%;
	height: 100%;
	padding: 0px;
	overflow: auto;
	overflow-x: hidden;
	background-color: #fff;
	border-left: 1px solid #fff;
}

.publicKnot, .publicUserKnot, .privateKnot {
	position: relative;
	min-width: 100%;
	height: 100%;
	text-align: center;
	cursor: pointer;
	margin-bottom: -8px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	overflow: hidden;
}

.publicKnotParent{
	position: relative;
	z-index: -1;
}

.privateKnotParent{
	position: relative;
	z-index: -1;
}

.groupName {
	text-align: left;
	background-color: #fff;
	/*background-image: url(/img/outlets.png);*/
  	position: absolute;
  	font-size: 1em;
  	top: 0px;
  	left: -30px;
  	width: 40%;
  	height: auto;
  	padding: 2px;
  	padding-left: 10px;
  	pointer-events: none;
  	border-bottom-right-radius: 20px;
  	font-weight: bold;
  	color: #444; 
  	opacity: 0;
}

.groupNameRight {
	text-align: right;
	background-color: #fff;
  	position: absolute;
  	font-size: 1em;
  	top: 0px;
  	right: -30px;
  	width: 40%;
  	height: auto;
  	padding: 2px;
  	padding-right: 10px;
  	pointer-events: none;
  	border-bottom-left-radius: 20px;
  	font-weight: bold;
  	color: #444; 
  	opacity: 0;
}

.landingTitle {
	font-size: 70px;
	font-weight: bolder;
	font-family: 'Exo', sans-serif;
	position: relative;
	bottom: 30px;
}

.landingContent {
	color: #ddd;
	width: 60%;
	text-align: center;
	margin-bottom: 10px;
	font-size: 1em;
}

.actionDivBlack, .actionDivBlue {
	cursor: pointer;
	position: relative;
	top: 30px;
	border: 2px solid #ddd;
	width: 120px;
	height: 50px;
	font-size: 1.2em;
	padding-top: 8px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.actionDivBlack:hover {
	background-color: #ddd;
	color: #222;
}

.actionDivBlue:hover {
	background-color: #ddd;
	color: #00264d;
}

.nbarGuest {
	position: fixed;
	left: 50%;
	display: none;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	height: 100%;
	width: 300px;
	margin-left: -150px;
	background-color: #fff;
	z-index: -1;
	color: #333;
}

.nbarGuestMain {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
}

.navLink {
	font-size: 1.1em;
	margin-top: 6px;
	margin-bottom: 6px;
	cursor: pointer;
}

.logLinks {
	position: relative;
	top: -10px;
}

.linkOutline, .linkOutlineUser {
	width: 60px;
	height: 32px;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	position: absolute;
	left: 1px;
	bottom: 14px;
}

.linkLogin, .linkSignupReturn, .linkChangeKnotReturn, .linkUserMainReturn {
	color: #333;
	font-size: 0.9em;
	position: relative;
	top: -10px;
	margin: 10px;
	cursor: pointer;
	display: inline-block;
}

.closeNbarGuest {
	font-size: 2.4em;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	text-align: center;
}

.cover {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 2;
	display: none;
}

.nbarUser {
	position: fixed;
	top: 0px;
	left: 50%;
	display: none;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	height: 100%;
	width: 300px;
	margin-left: -150px;
	background-color: #fff;
	z-index: -1;
	color: #333;
}

.nbarUserChangeKnot, .nbarUserCreateKnot, .nbarUserJoinKnot, .nbarUserLeaveKnot, .nbarUserThreads, .nbarUserProfileEdit  {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
}

.nbarUserCreateKnot, .nbarUserJoinKnot, .nbarUserLeaveKnot, .nbarUserThreads, .nbarUserProfileEdit {
	display: none;
}

.closeNbarUser, .closeNbarChangeKnot {
	font-size: 2em;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	text-align: center;
}

.discoverView {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0px;
	display: none

}

.discoverLeft {
	position: absolute;
	left: 0px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	width:50%;
	height: 100%;
	overflow: hidden;
	overflow-y: hidden;
	border-right: 1px solid #fff;
}

.discoverTitleCover1, .discoverTitleCover2, .discoverTitleCover3 {
	width: 100%;
	height: 100%;
	background-color: #111;
	opacity: 0.5;
	z-index: 1;
}

.discoverTabParent {
	position: absolute;
	top: 0px;
	right: 0px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	width: 35px;
	height: 33.3%;
	overflow: hidden;
	overflow-y: hidden;
	/*z-index: -1;*/
}

.discoverLeftTab {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: absolute;
	left: 0px;
	bottom: 0px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.discoverRight {
	background-color: #fff;
	color: #ddd;
	position: absolute;
	right: 0px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	width: 50%;
	height: 100%;
	overflow: hidden;
	overflow-y: hidden;
	border-left: 1px solid #fff;
}

.discoverContentTitle {
	font-size: 50px;
	font-weight: bolder;
	font-family: 'Exo', sans-serif;
	position: relative;
	bottom: 30px;
}

.discoverContent, .contactList {
	padding-left: 20%;
	padding-right: 20%;
	text-align: center;
	color: #ddd;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
}

#discoverContent1, #discoverContent2, #discoverContent3 {
	position: absolute;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: hidden;
}

#discoverContent1 {
	background-image: url(/img/outlets3.png);
}

#discoverContent2 {
	background-image: url(/img/outlets4.png);
}

#discoverContent3 {
	background-image: url(/img/outlets5.png);
}

.discoverTitleImg {
	position: absolute;
	min-width: 100%;
	height: auto;
}

.discoverTitle {
	position: relative;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	width: 100%;
	height: 100%;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	overflow: hidden;
  	cursor: pointer;
}

.contactLeft {
	position: absolute;
	left: 0px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	width:50%;
	height: 100%;
}

.contactRight {
	position: absolute;
	right: 0px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	width: 50%;
	height: 100%;
	float: right;
}

.contactList {
	text-align: center;
	width: 50%;
	height: auto;
}

.contactView {
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0px;
	display: none
}

.publicGroupView, .publicUserGroupView {
	height: 100vh;
	width: 100%;
	position: relative;
	top: 0px;
	display: none;
}

.publicUserGroupLeft, .publicGroupLeft {
	background-image: url(/img/outlets2.png);
	/*background-color: #fff;*/
	position: absolute;
	left: 0px;
	width: 50%;
	height: 100%;
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 70px;
	overflow: auto;
}

.publicUserGroupRight, .publicGroupRight {
	background-image: url(/img/outlets2.png);
	background-color: #444;
	position: absolute;
	right: 0px;
	width:50%;
	height: 100%;
	overflow: auto;
}

.publicGroupRight::-webkit-scrollbar, .landingLeft::-webkit-scrollbar, .changeGroupLeft::-webkit-scrollbar, .changeGroupRight::-webkit-scrollbar, .discoverView::-webkit-scrollbar { 
    display: none; 
}

.publicGroupLeft::-webkit-scrollbar, .publicUserGroupLeft::-webkit-scrollbar, .publicUserGroupRight::-webkit-scrollbar,  .discoverRight::-webkit-scrollbar, .discoverLeft::-webkit-scrollbar  { 
    display: none; 
}

.topNbarGuest, .topNbarTab, .topNbarUser, .topNbarHome, .topNbarUserPublic {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: row;
	position: relative;
	top: 0px;
	width: 100%;
	height: 40px;
	z-index: 3;
	/*background-image: url(/img/outlets.png);*/
	background-color: #fff;
	color: white;
	pointer-events: none;
}

.topNbarTab {
	color: #444;
	font-weight: bold;
	font-size: 1.2;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	pointer-events: none;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.eventIgnore {
	pointer-events: none;
}

.topNbarHover {
	position: fixed;
	top: -42px;
	width: 100%;
	height: 100px;
	z-index: 1;
}

.topNbarUser, .topNbarUserPublic {
	display: none;
}

.guestTopLink {
	z-index: 1;
	cursor: pointer;
	width: 100px;
	height: 30%;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	color: #444;
  	font-weight: bold;
  	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.guestTopLinkUser {
	z-index: 1;
	cursor: pointer;
	height: 30%;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	color: #444;
  	font-weight: bold;
  	padding-right: 20px;
  	padding-left: 20px;
  	margin-left: -8px;
  	border-right: 2px solid #444;
  	border-left: 2px solid #444;
  	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.guestTopLinkUser:first-of-type {
	border-left: 0px;
}

.guestTopLinkUser:last-of-type {
	border-right: 0px;
}

.guestTopLinkUser:hover {
	background-color: #444;
	color: #ddd;
	height: 100%;
}

.topLinkSeperator {
	font-weight: bolder;
}

.nbarGuestSignup, .nbarGuestLogin {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	text-align: center;
}

.form-control {
	font-size: 0.9em;
	margin-bottom: 10px;
	display: block;
	width: 240px;
	height: 40px;
	padding: 10px;
  	border: solid 2px #c9c9c9;
  	box-shadow: inset 0 0 0 1px #707070;
  	transition: box-shadow 0.3s, border 0.3s;
}

.form-control:focus {
	outline: none;
  	border: solid 2px #969696;
}

.signupButton, .loginButton {
	position: relative;
	margin-bottom: 10px;
}

.posts, .listOfEvents {
	max-width: 100%;
	padding-right: 0px;
	padding-left: 0px;
}

.createNewPost {
	background-color: #fff;
	background-image: url(/img/outlets2.png);
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 50%;
	height: 100px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}

.createNewEvent, .editEvent {
	display: none;
	display: flex;
  	align-items: center;
  	flex-direction: column;
}

.createEventButton, .eventBackButton {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mediaView {
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0px;
	display: none;

}

.mediaLeft {
	position: fixed;
	left: 0px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	width:20%;
	height: 100%;
}

.mediaRight {
	position: absolute;
	right: 0px;
	width: 80%;
	height: 100%;
}

.mediaTable {
	width: 100%;
}

.mediaTD {
	/*width: 100%;
	height: auto;*/
	/*height: auto;
	min-width: 100%;*/
	height: 230px;
	width: 230px;
}

td {
	padding: 1px;
}

.groupBanner {
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
}

.navText {
	color: #fff;
	display: inline-block;
}

.isPrivateBtn, .isPublicBtn {
	display: inline-block;
	width: 60px;
	border: 1px solid #ddd;
	height: 25px;
	background-color: #555;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}

.isPrivateBtn {
	background-color: #999;
}

.groupBanner {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.groupBanner:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn {
	background-color: transparent;
	height: 34px;
	width: 150px;
	padding: 4, 30, 5, 40;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;
	border: 2px solid #444;
	/*border-radius: 17px;*/
	color: #444;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn:hover {
	background-color: #444;
	color: #fff;
	border: 2px solid #fff;
}

.searchBar {
	position: absolute;
	left: 10px;
	z-index: 10;
	height: 40px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding-top: 0px;
  	pointer-events: none;
}

.searchInput {
	margin: 0px;
	width: 200px;
	height: 30px;
}

.deleteEventBtn {
	position: relative;
}

.manageKnots {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
}

.manageNav {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: row;
  	position: relative;
  	top: -50px;
}

.manageKnotsLinks {
	margin-right: 20px;
	margin-left: 20px;
	cursor: pointer;
}

.linkOutlineUser {
	left: 0px;
	top: -5px;
}

.nbarUserLeaveKnot {
	display: flex;
  	align-items: center;
  	justify-content: flex-start;
  	flex-direction: column;
	min-height: 300px;
	min-width: 240px;
}

.deleteUser {
	height: auto;
	width: auto;
	position: relative;
	top:60px;
}

.deativateBtn {
	background-color: #d11;
	width: 250px;
	position: relative;
	top: 0px;
	color: #ddd;
}

.logoutBtn {
	position: relative;
	top: 50px;
}

.likeForm, .dislikeForm {
	height: auto;
	width: auto;
	display: inline-block;
}

.postForm {
	width: 100%;
}

#postInput {
	width: 100%;
}

.avatarImg {
	position: relative;
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 30px;
}

.avatarDiv {
	/*background-color: #fff;*/
	width: 70px;
	text-align: center;
	position: absolute;
	top: -35px;
	left: 10px;

}

.outputText {
	border-radius: 20px;
	background-color: #fff;
	/*background-image: url(/img/outlets6.png);*/
	padding: 20px;
	/*box-shadow: 12px 12px 12px #888888;*/
	padding-top: 25px;
	/*border: 2px solid #CCCC99;*/
	position: relative;
	margin-top: 80px;
	margin-bottom: 80px;
	color:#444;

}

.usernameDiv {
	background-color: #fff;
	/*background-image: url(/img/outlets.png);*/
	width: 200px;
	position: absolute;
	top: 18px;
	left: 50px;
	padding-left: 20px;
	padding-top: 5px;
	/*border-bottom: 1px solid #444;*/
	border-top-right-radius: 20px;
	font-weight: bold;
	text-align: left;
}

.thumbsParent {
	background-color: #fff;
	/*background-image: url(/img/outlets6.png);*/
	/*border: 2px solid #CCCC99;*/
	width: 100px;
	position: absolute;
	right: 40px;
	bottom: -23px;
	padding-left: 10px;
	/*border-top: 1px solid #444;*/
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.thumbsBtn {
	font-size: 1em;
	background-color: transparent;
	border: 1px solid transparent;
	/*border-left: 1px solid #cccc99;*/
	cursor: pointer;
	
}

.postDate {
	position: absolute;
	bottom: -18px;
	font-size: 0.8em;
	color: #ddd;
	/*background-image: url(/img/outlets6.png);*/
}

.eventContainer {
	display: flex;
  	align-items: center;
  	justify-content: flex-start;
  	flex-direction: column;
	position: relative;
	width: 100%;
	height: auto;
	/*border: 1px solid #444;*/
	margin-top: 60px;
	margin-bottom: 60px;
}

.eventContentDiv {
	background-color: #fff;
	/*border-left: 1px solid #444;*/
	/*border-bottom: 1px solid #444;*/
	width: 80%;
	min-height: 140px;
	position: relative;
	top: 30px;
	left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 55px;
	padding-right: 15px;
	border-radius: 20px;
}

.eventBannerImg {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 20px;
	left: -50px;
	/*max-width: 120px;
	max-height: 120px;*/
	z-index: 2px;
	border-radius: 150px;
	border: 2px solid #fff;
}

.eventDate {
	font-size: 0.8em;
	position: absolute;
	bottom: -17px;
	right: 30px;
	padding: 3px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fff;
	width: auto;
	color: #444;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.to {
	margin-right: 10px;
	margin-left: 10px;
	font-weight: bolder;
}

.eventTitleDiv {
	white-space: nowrap;
	width: auto;
	max-width: 80%;
	overflow: hidden;
	text-align: center;
	position: absolute;
	top: -17px;
	background-color: #fff;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	color: #444;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.editDiv {
	position: absolute;
	top: 0px;
	right: 0px;
}

.eventEditBtn {
	margin: 0px;
	width: 60px;
	background-color: #444;
	color: #ddd;
	padding: 3px;
	height: 20px;
	border-bottom-left-radius: 20px;
	position: relative;
	bottom: 2px;

}

.errors{
	color:red;
}

.rightSideTab {
	position: fixed;
	left: 50%;
	width: 35px;
	height: 40%;
	background-color: #fff;
	/*opacity: 0.9;*/
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	opacity: 0;
  	pointer-events: none;
}

.rightSideTabText {
	color: #444;
	font-size: 1.4em;
	font-weight: bold;
	-webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.leftSideTab {
	position: fixed;
	right: 50%;
	width: 35px;
	height: 40%;
	background-color: #fff;
	/*background-image: url(/img/outlets.png);*/
	/*opacity: 0.9;*/
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	opacity: 0;
  	pointer-events: none;
}

.leftSideTabText {
	color: #444;
	font-size: 1.4em;
	font-weight: bold;
	-webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.arrowImg {
	height: 40px;
	width: 40px;
}

.arrowImgUp {
	height: 40px;
	width: 40px;
}

.upArrow {
	position: absolute;
	cursor: pointer;
	top: 30px;
	border-radius: 30px;
	/*background-color: #fff;*/
	color: #ddd;
	font-size: 3em;
	text-align: center;
	-webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.downArrow {
	position: absolute;
	cursor: pointer;
	bottom: 30px;
	border-radius: 30px;
	/*background-color: #fff;*/
	color: #ddd;
	font-size: 3em;
	text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.downArrow:hover, .upArrow:hover {
	opacity: 0.6;
}

.homeTabParent {
	position: fixed;
	right: 0px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	width: 50%;
	height: 100%;
}

.linkSelector {
	width: 100px;
	height: 7px;
	background-color: #444;
	opacity: 0.7;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.linkParent {
	width: 300px;
	height: 100%;
	position: absolute;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: row;
}

.midTopLink {
	border-right: 2px solid #444;
	border-left: 2px solid #444;
}

.postImg {
	max-width: 230px;
	max-height: 180px;
	margin: 10px;
}

.leaveParent {
	width: 90%;
	height: 100%;
	position: relative;
	margin: auto;
}

.leaveImg {
	width: 100%;
	height: auto;
}

.leaveName {
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #fff;
	color: #444;
	width: 80%;
	border-bottom-right-radius: 20px;
	padding: 5px;
}

.leaveX {
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-color: #a11;
	color: #fff;
	padding: 5px;
	font-weight: bolder;
	border-top-left-radius: 20px;
	width: 50px;
	text-align: center;
	cursor: pointer;
}

.deleteEventBtn {
	height: 50px;
}
