
.landingView {
	height: 100vh;
	margin: 0px;
	padding: 0px;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.landingLeft {
	position: absolute;
	left: 0px;
	width: 50%;
	height: 100%;
	overflow: auto;
	padding: 0px;
}

.landingRight {
	position: absolute;
	right: 0px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	width: 50%;
	height: 100%;
	float: right;
}

.publicKnot, .publicUserKnot, .privateKnot {
	position: relative;
	min-width: 100%;
	height: auto;
	border: 1px solid green;
	text-align: center;
	cursor: pointer;
}

.groupName {
  	position: absolute;
  	font-size: 1.2em;
  	/*color: #fff;*/
  	top: 0px;
  	right: 0px;
  	/*margin-top: 10%;*/
  	width: 100%;
  	height: auto;
  	padding: 10px;
  	opacity: 0.8
}

.landingTitle {
	width: 60%;
	margin-bottom: 30px;
}

.landingContent {
	width: 60%;
	margin-bottom: 10px;
}

.landingDiscover {
	cursor: pointer;
}

.changeGroupView {
	height: 100vh;
	margin: 0px;
	padding: 0px;
}

.changeGroupLeft {
	position: absolute;
	padding: 0px;
	left: 0px;
	width: 50%;
	height: 100%;
	overflow: auto;
}

.changeGroupRight {
	position: absolute;
	padding: 0px;
	right: 0px;
	width: 50%;
	height: 100%;
	float: right;
	overflow: auto;
}

.logoLine {
	position: fixed;
	top: 0px;
	height: 100vh;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	left: 50%;
  	width: 2px;
	margin-left: -1px;
	z-index: 2;
  	
}

.logo {
/*	position: absolute;
	top: 0px;*/
	font-weight: bold;
	font-size: 3em;
	z-index: 1;
	cursor: pointer;
}

.landingVLineTop {
	position: absolute;
	top: 50px;
	height: 30%;
	width: 1px;
	background-color: black;
}

.landingVLineBot {
	position: absolute;
	bottom: 50px;
	height: 30%;
	width: 1px;
	background-color: black;
}

.nbarGuest {
	position: fixed;
	top: 0px;
	left: 50%;
	display: none;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	height: 100%;
	width: 300px;
	margin-left: -150px;
	background-color: #333;
	z-index: 2;
}

.nbarGuestMain {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
}

.navLink {
	color: #fff;
	font-size: 1.1em;
	margin-top: 6px;
	margin-bottom: 6px;
	cursor: pointer;
}

.linkLogin, .linkSignupReturn, .linkChangeKnotReturn, .linkUserMainReturn {
	color: #fff;
	font-size: 0.9em;
	position: relative;
	top: -10px;
	cursor: pointer;
}

.closeNbarGuest {
	color: #fff;
	font-size: 2.4em;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	text-align: center;
}

.cover {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 2;
	display: none;
}

.nbarUser {
	position: fixed;
	top: 0px;
	left: 50%;
	display: none;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	height: 100%;
	width: 300px;
	margin-left: -150px;
	background-color: #333;
	z-index: 3;
}

.nbarUserMain {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	display: none;
}

.nbarUserChangeKnot, .nbarUserCreateKnot, .nbarUserJoinKnot, .nbarUserLeaveKnot, .nbarUserThreads, .nbarUserProfileEdit  {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
}

.nbarUserCreateKnot, .nbarUserJoinKnot, .nbarUserLeaveKnot, .nbarUserThreads, .nbarUserProfileEdit {
	display: none;
}

.closeNbarUser, .closeNbarChangeKnot {
	color: #fff;
	font-size: 2em;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	text-align: center;
}

.discoverView {
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0px;
	display: none

}

.discoverLeft {
	position: absolute;
	left: 0px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	width:30%;
	height: 100%;
}

.discoverRight {
	position: absolute;
	right: 0px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	width: 70%;
	height: 100%;
}

.discoverList {
	margin: 40px;
}

.contactLeft {
	position: absolute;
	left: 0px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	width:30%;
	height: 100%;
}

.contactRight {
	position: absolute;
	right: 0px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	width: 70%;
	height: 100%;
	float: right;
}

.contactList {
	margin: 40px;
}

.contactView {
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0px;
	display: none
}

.publicGroupView, .publicUserGroupView {
	height: 100vh;
	width: 100%;
	position: relative;
	top: 0px;
	display: none;
}

.publicGroupRight {
	position: absolute;
	right: 0px;
	width:40%;
	height: 100%;
	overflow: auto;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
	overflow: auto;
}

.publicGroupLeft {
	position: relative;
	left: 0px;
	width: 60%;
	height: 100%;
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	overflow: auto;
}

.publicUserGroupLeft {
	position: absolute;
	left: 0px;
	width: 60%;
	height: 100%;
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 70px;
	overflow: auto;
}

.publicUserGroupRight {
	position: absolute;
	right: 0px;
	width:40%;
	height: 100%;
	overflow: auto;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
}

.publicGroupRight::-webkit-scrollbar, .landingLeft::-webkit-scrollbar, .changeGroupLeft::-webkit-scrollbar, .changeGroupRight::-webkit-scrollbar { 
    display: none; 
}

.publicGroupLeft::-webkit-scrollbar, .publicUserGroupLeft::-webkit-scrollbar, .publicUserGroupRight::-webkit-scrollbar { 
    display: none; 
}

.topNbarGuest {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: row;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 40px;
	z-index: 1;
}

.TopNbarUser {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: row;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 40px;
	z-index: 1;
	display: none;
}

.guestTopLink {
	margin-right: 40px;
	margin-left: 40px;
	z-index: 1;
	cursor: pointer;
}

.topLinkSeperator {
	font-weight: bolder;
}

.nbarGuestSignup, .nbarGuestLogin {
	display: none;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	text-align: center;

}

.form-control {
	margin-bottom: 10px;
}

.signupButton, .loginButton {
	position: relative;
	margin-bottom: 10px;
}

.posts {
	margin-bottom: 20px;
	margin-top: 20px;
}

.createNewPost {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 60%;
	height: 70px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	background-color: #fff;
}

.createNewEvent, .editEvent {
	display: none;
}

.createEventButton, .eventBackButton {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mediaView {
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0px;
	display: none;

}

.mediaLeft {
	position: fixed;
	left: 0px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
	width:20%;
	height: 100%;
}

.mediaRight {
	position: absolute;
	right: 0px;
	width: 80%;
	height: 100%;
}

.mediaTable {
	width: 100%;
}

.mediaTD {
	width: 100%;
	height: auto;
}

td {
	padding: 1px;
}

.groupBanner {
	width: 100%;
	height: 100%;
}

.groupName {
	position: absolute;
	top: 0px;
	left: 0px;
}

.navText {
	color: #fff;
	display: inline-block;
}